*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ccc;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
}
